<div class="card-container">
  {% for card in yugioh %}
    {% if 'id' in card and card['id'] is not none %}
      <a href="{{ url_for('yugioh_detail', id=card['id']) }}" class="card-link">
        <div class="card">
          <img src="{{ card['image'] }}" alt="{{ card['name'] }}" />
          <div class="card-body">
            <h5 class="card-title">{{ card['name'] }}</h5>
            <p class="card-text">ID: {{ card['id'] }}</p>
          </div>
        </div>
      </a>
    {% else %}
      <div class="card">
        <img src="{{ card['image'] }}" alt="{{ card['name'] }}" />
        <div class="card-body">
          <h5 class="card-title">{{ card['name'] }}</h5>
          <p class="card-text">ID not available</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
